.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgArea{
    width: 30%;
    height: 250px;
    /* border: 2px solid; */
    background-color: #e0e0e0;
    /* margin-right: 7%; */
    margin-left:-15%;
}
.Heading{
    height: 35px;
    width: 100%;
    background-color: #e0e0e0;
}
.para{
    width: 450px;
    height: 20px;
    background-color: #e0e0e0;
    margin-top: 10px;
}
.textAreaOne{
    margin-left: 6%;
}
.textAreaOne div:last-child{
    width: 250px;
}